.flexBoxPrac{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    /* justify-content: space-between; */
    /* justify-content: space-around; */
    /* justify-content: space-evenly; */
    justify-content: flex-start;
    /* justify-content: space-between; */
    /* align-items: center; */
    height: 80%;
    width: 80%;
    background-color: #a4ffd9;
}
.innerContainer{
    text-align: center;
    background-color: rgb(65, 93, 255);
    padding: 10px;
    margin: 20px;
    height: 100px;
    width: 100px;
    border-radius: 10px;
}